<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>ID пользователя</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Номер статьи</th>
        <td mat-cell *matCellDef="let element">
            <a routerLink="/posts/{{element.id}}" mat-button color="primary" class="no-underline">
                <app-post [id]="currentIndex">{{element.id }}</app-post>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Название статьи</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef>Содержание статьи</th>
        <td mat-cell *matCellDef="let element">{{ element.body }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>