<div class="container auth signup">
    <h2>Регистрация</h2>
    <h4>Заполните поля:</h4>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" formControlName="username" required>
        <label for="password">Пароль</label>
        <input type="text" id="password" formControlName="password" required>
        <button type="submit" [disabled]="!signupForm.valid" mat-button color="primary">Регистрация</button>
    </form>
</div>